/*------ General Styling ------*/
body {
    font-family: "comic sans MS";
    background-color: powderblue;
}

h1 {
 text-align: center;
}

button {
    height: 40px;
    color: white;
    border: 3px outset #235abb;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0, .3);
    background-color: #1950b3;
    font-weight: bold;
    font-family: "comic sans MS";
    font-size: 18px;
    margin: 15px auto;
    cursor: pointer;
    outline: none;
}

button:hover:not([disabled]) {
    background-color: #01389a;
    border: 3px outset #003fad;
}

button:active {
    border: 3px inset #4470bd !important;
    color: #efefef !important;
}

button:disabled {
    border-color: #ccc;
    background-color: white;
    color: #929090;
    opacity: 50%;
    box-shadow: none;
    cursor:default;
}

#button-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#button-div div {
    text-align: center;
}
/*------ The Gameboard ------*/
#game-board {
    display: grid;
    grid-template: 100px 1fr 5fr/1fr 1fr;
    max-height: 70vh;
}

#game-board h2 {
    text-align: center;
}

#player-shots, #computer-shots {
    text-align: center;
}

#player-grid, #computer-grid{
    height: 45vw;
    width: 45vw;
    max-height: 400px;
    max-width: 400px;
}

.grid {
    height: 100%;
    display: grid;
    grid-template: repeat(8, 1fr)/ 100%;
    border: 1px solid #292929;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.grid .grid-row {
    display: grid;
    grid-template: 100% / repeat(8, 1fr);
}

.shot {
    height: 50px;
    margin: 10px;
}

.bug {
    max-height: 70px;
}


.sunk-bug.horizontal {
    position: relative;
    width: 110%;
    transform-origin: left center;

}

.sunk-bug.horizontal.alpha {
    transform: scale(1.8);
    top: 20%;
}

.sunk-bug.horizontal.beta {
    transform: scale(2.9);
    top: 30%;
}

.sunk-bug.horizontal.gamma {
    transform: scale(2.5);
    left: 25%;
    top: 25%;
}

.sunk-bug.horizontal.delta {
    transform: scale(3.5);
    left: 20%;
    top: 25%;
}

.sunk-bug.horizontal.epsilon {
    transform: scale(4.5);
    left: 10%;
    top: 20%;
}

.sunk-bug.vertical {
    position: relative;
    transform-origin: center left;
    width: 110%;
}

.sunk-bug.vertical.alpha {
    transform:rotate(270deg) scale(1.8);
    transform-origin: center center;
    width: 100;
    bottom: 30%;
    right: 5%; 
}

.sunk-bug.vertical.beta {
    transform: rotate(270deg) scale(2.9);
    left: 50%;
    top: 70%;
}

.sunk-bug.vertical.gamma {
    transform: rotate(270deg) scale(2.5);
    left: 50%;
    top: 50%;
}

.sunk-bug.vertical.delta {
    transform: rotate(270deg) scale(3.5);
    left: 50%;
    top: 50%;
}

.sunk-bug.vertical.epsilon {
    transform: rotate(270deg) scale(4.5);
    left: 50%;
    top: 50%;
}


/*------ Cells ------*/
.grid-cell {
    background-color: #dcdcdc;
    border: 1px solid #585858;
    cursor: pointer;
}

.grid-cell.selected {
    background-color: #20b2aa;
}

.grid-cell.unavailable {
    background-color: grey;
}

.grid-cell.placed {
    background-color: #9acd32;
}

.grid-cell.hit {
    background-color: #b22222;
    cursor: default;
}

.grid-cell.missed {
    background-color: #00bfff;
    cursor: default;
}

.grid-cell.sunk {
    background-color: brown;
    cursor: default;
}